---
---

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.sidebar-container {
    min-width: 18em;
    flex: 0;
    order: -1;
    background-color: #141414;
    color: #fafafa;
    transition: margin-left 0.15s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2;
}

.sidebar li {
  list-style-type: none;
  margin: 0.8em 0.5em;
  padding: 0.2em;
  transition: 250ms box-shadow;
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

.sidebar a {
  color: #d96628;
  text-decoration: none;
}

.sidebar-container .newpage {
    color: #289bd9;
    text-decoration: none;
}

#toggle {
    position: absolute;
    appearance: none;
    cursor: pointer;
    left:-100%;
    top:-100%;
}

#toggle + label {
    position: absolute;
    background: #313131;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
    padding: .7em .5em;
    margin: 1em 0 0 1em;
    transition: margin-left 0.15s ease-out;
    left: -100%;

    &:after {
        content: "Menu";
        font-size: 1em;
        font-weight: bold;
        color: #289bd9;
        font-variant: small-caps;
    }
}

#toggle:checked + label {
    margin-left: 19em;
}

.main {
    flex: 1;
    max-width: 75em;
    min-width: 60%;
    position: absolute;
    left: 24em;
}

h1.title {
  display: inline-block;
}

@media only screen and (max-width: 900px) {
    .sidebar-container {
        margin-left: -18em;
    }
    #toggle + label {
        left: 0;
    }
    .main {
        left: 0;
        width: 90%;
        transform: translateX(5%);
    }
    h1.title {
        margin-left: 2em;
    }
}

#toggle:checked ~ .sidebar-container {
    margin-left: 0;
}