---
---

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
    background-color: #212121;
    color: #fafafa;
}

.sidebar-container {
    min-width: 18em;
    flex: 0;
    order: -1;
    background-color: #141414;
    color: #fafafa;
    transition: margin-left 0.15s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 2;
    height: 100%;
    position: fixed;
}

.sidebar-container .sidebaritem {
    list-style-type: none;
    margin: 0.8em 0.5em;
    padding: 0.2em;
    transition: 250ms box-shadow;
    margin: 0;
    padding: 0;
    &:hover {
    }
}

.sidebar-container a {
    color: #d96628;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: .5em 0 .5em 2em;
    box-sizing: border-box;
    
    &:hover {
        background-color: #212121;
        color: #f2874e;
    }
}

.sidebar-container .newpage {
    color: #289bd9;
    text-decoration: none;
    height: 2.6em;
    
    &:hover {
        color: #4eb9f2;
    }
}

.sidebar-container h2 {
    padding-left: 0.8em;
}

#toggle {
    position: absolute;
    appearance: none;
    cursor: pointer;
    left:-100%;
    top:-100%;
}

#toggle + label {
    position: absolute;
    background: #313131;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
    padding: .7em .5em;
    margin: 1em 0 0 1em;
    transition: margin-left 0.15s ease-out;
    left: -100%;

    &:after {
        content: "Menu";
        font-size: 1em;
        font-weight: bold;
        color: #289bd9;
        font-variant: small-caps;
    }
}

#toggle:checked + label {
    margin-left: 13.5em;
}

.main {
    flex: 1;
    max-width: 75em;
    min-width: 60%;
    position: absolute;
    left: 24em;
    
    a {
        color: #d96628;
        text-decoration: none;
        
        &:hover {
            color: #f2874e;
        }
    }
}

h1.title {
  display: inline-block;
}

.editpage, .editpage small {
    text-decoration: none;
    color: #289bd9;
    font-size: 1em;
    margin-left: 1em;
    
    &:hover {
        color: #4eb9f2;
    }
}

code.highlighter-rouge {
    background-color: #313131;
    padding: .2em .4em;
    border-radius: 3px;
}

.highlight {
    display: inline-block;
    padding: .5em 1em;
    background-color: #313131;
    border-radius: 3px;
    max-width: 80%;
    overflow: auto;
}

@media only screen and (max-width: 900px) {
    .sidebar-container {
        margin-left: -18em;
    }
    #toggle + label {
        left: 0;
    }
    .main {
        left: 0;
        width: 90%;
        transform: translateX(5%);
    }
    h1.title {
        margin-left: 2em;
    }
}

#toggle:checked ~ .sidebar-container {
    margin-left: 0;
}