---
---
html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.sidebar-container {
  min-width: 15%;
  flex: 0;
  order: -1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar li {
  list-style-type: none;
  margin: 0.8em 0.5em;
  padding: 0.2em;
  transition: 250ms box-shadow;
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

.sidebar a {
  color: #00BCD4;
  text-decoration: none;
  &:visited {
    color: #727272;
  }
}

.main {
  flex: 1;
  width: 80%;
  position: absolute;
  left: 20%;
}